node_modules
.vscode-test
*.vsix
src
public
docs
*.ts
tsconfig.json
.eslintrc.json
AGENTS.md
.github
.git
.idea
pnpm-lock.yaml
.gitignore
.build-number
src/version.ts
public/version.js
scripts

.published-version
